<template>
  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <!-- Profile Image -->
        <div class="box box-primary">
          <div id="contract_form" class="" role="dialog">
            <div class="modal-dialog">
                  <form v-on:submit.prevent="post">
                    <div class="row">
                      <div class="col-md-3">
                        <label >Contract Name</label>
                      </div>
                      <div class="col-md-9">
                        <input type="text" v-model="contract.contract_name" required="required"  class="form-control">
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.contract_name">
                          <p>{{this.$store.state.errorStore.all_errors.contract_name[0]}}</p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-3">
                        <label >Minimum Price (in KSH)</label>
                      </div>
                      <div class="col-md-9">
                        <input type="number" v-model="contract.minimum_price" required="required" class="form-control">
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.minimum_price">
                          <p>{{this.$store.state.errorStore.all_errors.minimum_price[0]}}</p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-3">
                        <label >Price per Kilometer (in KSH)</label>
                      </div>
                      <div class="col-md-9">
                        <input type="number" v-model="contract.price_per_km" required="required"  class="form-control">
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.price_per_km">
                          <p>{{this.$store.state.errorStore.all_errors.price_per_km[0]}}</p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-3">
                        <label >Price per Minute (in KSH)</label>
                      </div>
                      <div class="col-md-9">
                        <input type="number" v-model="contract.price_per_min" required="required" class="form-control">
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.price_per_min">
                          <p>{{this.$store.state.errorStore.all_errors.price_per_min[0]}}</p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-3">
                        <label >Expiry Date (yyyy-mm-dd)</label>
                      </div>
                      <div class="col-md-9">
                        <input type="date" placeholder="yyyy-mm-dd" v-model="contract.expiry_date" required="required" class="form-control pull-right" id="datepicker">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-1 col-md-offset-6">
                        <button class="btn btn-primary" type="submit">Add Contract</button> <v-loading></v-loading>
                      </div>
                    </div>
                    <br>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        contract: {
          contract_name: '',
          minimum_price: '',
          price_per_km: '',
          price_per_min: '',
          expiry_date: '',
          public_id: this.$route.params.company_id,
          redirect_url: 'Admin.Company'
        }
      }
    },
    created () {
      this.$store.dispatch('clear_errors')
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_contract', this.contract)
      }
    }
  }
</script>

<style>

</style>
