<template>
  <div class="">
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Create User</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add Institution</h3>
            </div>
            <!-- /.box-header -->
            <form v-on:submit.prevent="post">
              <!-- form start -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label >Institution Name</label>
                      <input type="text" v-model="institution.institution_name" maxlength="50" class="form-control">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.institution_name">
                        <p>{{this.$store.state.errorStore.all_errors.institution_name[0]}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label >Institution Email</label>
                      <input type="email" v-model="institution.email" maxlength="50" class="form-control">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.email">
                        <p>{{this.$store.state.errorStore.all_errors.email[0]}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label >Country</label>
                      <select v-model="institution.country" id="" class="form-control">
                        <option value="" disabled selected>Select Country</option>
                        <option v-for="country in this.$store.state.countryStore.countries" :value="country.public_id">{{country.name}}</option>
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.country">
                          <p>{{this.$store.state.errorStore.all_errors.country[0]}}</p>
                        </div>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label >Institution Telephone</label>
                      <input type="tel" v-model="institution.telephone" maxlength="12" placeholder="2547..." class="form-control">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.telephone">
                        <p>{{this.$store.state.errorStore.all_errors.telephone[0]}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label >Town</label>
                      <input type="text" v-model="institution.town" maxlength="50" class="form-control">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.town">
                        <p>{{this.$store.state.errorStore.all_errors.town[0]}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label >Street</label>
                      <input type="text" v-model="institution.street" maxlength="50" class="form-control">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.street">
                        <p>{{this.$store.state.errorStore.all_errors.street[0]}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label >Building</label>
                      <input type="text" v-model="institution.building" maxlength="50" class="form-control">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.building">
                        <p>{{this.$store.state.errorStore.all_errors.building[0]}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button> <v-loading></v-loading>
              </div>
            </form>

          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        institution: {
          institution_name: '',
          email: '',
          country: '',
          telephone: '',
          town: '',
          street: '',
          building: ''
        }
      }
    },
    created () {
      this.$store.dispatch('clear_errors')
      this.$store.dispatch('get_countries')
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_company', this.institution)
      }
    }
  }
</script>

<style>

</style>
