<template>
<div class="">
  <section class="content-header">
    <h1>
      {{company.name}} <v-loading></v-loading>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Examples</a></li>
      <li class="active">User profile</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
          <div class="box-body box-profile">

            <h3 class="profile-username text-center">{{company.name}}</h3>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>Users</b> <a class="pull-right">{{company_user_count}}</a>
              </li>
              <li class="list-group-item">
                <b>Rides this month</b> <a class="pull-right">count</a>
              </li>
              <li class="list-group-item">
                <b>Invoice Approximate</b> <a class="pull-right">count</a>
              </li>
            </ul>

          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- About Me Box -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">About  {{company.name}}</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">


            <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

            <p class="text-muted">{{company.town}} - {{company.country.name}}, {{company.street}},{{company.building}}</p>

            <hr>
            <strong><i class="fa fa-phone margin-r-5"></i> Telephone</strong>

            <p class="text-muted">{{company.telephone_1}}</p>

            <hr>

          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#contracts" data-toggle="tab">Contracts</a></li>
            <li class=""><a href="#settings" data-toggle="tab">Settings</a></li>
          </ul>
          <div class="tab-content">

            <div class="row">
              <div class="col-md-1 col-md-offset-10"><button class="btn btn-warning btn-sm" v-on:click="newContract()">Add New Contract</button></div>
            </div>
            <br>
            <div class="tab-pane active" id="contracts">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Contract Name</th>
                    <th>Start Date</th>
                    <th>Minimum Price</th>
                    <th>Price/km</th>
                    <th>Price/min</th>
                    <th>End Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="contract, key in contracts">
                    <td>{{key + 1}}</td>
                    <td>{{contract.name}}</td>
                    <td>{{contract.created_at}}</td>
                    <td>{{contract.tariff.min}}</td>
                    <td>{{contract.tariff.km_price}}</td>
                    <td>{{contract.tariff.time_price}}</td>
                    <td>{{contract.contract_expiry}}</td>
                    <td>
                      <button class="btn btn-info btn-sm" @click="editContract(contract.public_id)">Edit</button>
                      <!--<button class="btn btn-danger btn-sm" @click="deleteContract(contract.public_id)">Delete</button>-->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane " id="settings">
              <form v-on:submit.prevent="post">
                <!-- form start -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label >Institution Name</label>
                        <input type="text" v-model="institution.institution_name" maxlength="50" class="form-control">
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.institution_name">
                          <p>{{this.$store.state.errorStore.all_errors.institution_name[0]}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label >Institution Email</label>
                        <input type="email" v-model="institution.email" maxlength="50" class="form-control">
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.email">
                          <p>{{this.$store.state.errorStore.all_errors.email[0]}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label >Country</label>
                        <select v-model="institution.country" id="" class="form-control">
                          <option value="" disabled selected>Select Country</option>
                          <option v-for="country in this.$store.state.countryStore.countries" :value="country.public_id">{{country.name}}</option>
                        </select>
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.country">
                          <p>{{this.$store.state.errorStore.all_errors.country[0]}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label >Institution Telephone</label>
                        <input type="tel" v-model="institution.telephone" maxlength="12" placeholder="2547..." class="form-control">
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.telephone">
                          <p>{{this.$store.state.errorStore.all_errors.telephone[0]}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label >Town</label>
                        <input type="text" v-model="institution.town" maxlength="50" class="form-control">
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.town">
                          <p>{{this.$store.state.errorStore.all_errors.town[0]}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label >Street</label>
                        <input type="text" v-model="institution.street" maxlength="50" class="form-control">
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.street">
                          <p>{{this.$store.state.errorStore.all_errors.street[0]}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label >Building</label>
                        <input type="text" v-model="institution.building" maxlength="50" class="form-control">
                        <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.building">
                          <p>{{this.$store.state.errorStore.all_errors.building[0]}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                  <button type="submit" class="btn btn-primary">Update</button> <v-loading></v-loading>
                </div>
              </form>
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

  </section>
  <!-- /.content -->
</div>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        institution: {
          institution_name: '',
          email: '',
          country: '',
          telephone: '',
          town: '',
          street: '',
          building: '',
          public_id: this.$route.params.company_id,
          redirect_url: 'Admin.Companies'
        }
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_company', this.$route.params.company_id)
      this.$store.dispatch('get_company_count_users', this.$route.params.company_id)
      this.$store.dispatch('get_company_contract', this.$route.params.company_id)
      this.$store.dispatch('reset_errors')
      this.$store.dispatch('get_countries')
    },
    methods: {
      newContract: function () {
        this.$router.push({
          name: 'Admin.AddContract',
          params: {
            company_id: this.$route.params.company_id
          }
        })
      },
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('update_company', this.institution)
      },
      editContract: function (publicId) {
        this.$router.push({
          name: 'Admin.EditContract',
          params: {
            contract_id: publicId
          }
        })
      },
      deleteConract: function (publicId) {
        this.$store.dispatch('delete_contract', publicId)
      }
    },
    computed: {
      contracts: function () {
        return this.$store.state.contractStore.contracts
      },
      company: function () {
        this.institution.institution_name = this.$store.state.companyStore.company.name
        this.institution.email = this.$store.state.companyStore.company.email
        this.institution.telephone = this.$store.state.companyStore.company.telephone_1
        this.institution.town = this.$store.state.companyStore.company.town
        this.institution.street = this.$store.state.companyStore.company.street
        this.institution.building = this.$store.state.companyStore.company.building
        return this.$store.state.companyStore.company
      }
    }
  }
</script>

<style>

</style>
