<template>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Institutions</h3> <v-loading></v-loading>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <vue-good-table
              :columns="columns"
              :rows="companies"
              :paginate="true"
              :globalSearch="true"
              :lineNumbers="true"
              styleClass="table table-bordered table-striped"
            >
              <template slot="table-row" scope="props">
                <td>{{props.row.name}}</td>
                <td>{{props.row.country.name}}</td>
                <td>{{props.row.email}}</td>
                <td>{{props.row.telephone_1}}</td>
                <td>
                  <button v-on:click="view(props.row.public_id)" class="btn btn-primary btn-sm">View</button>
                  <!--<button v-on:click="doDelete(props.row.public_id)" class="btn btn-danger btn-sm">Delete</button>-->
                </td>
              </template>
            </vue-good-table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        columns: [
          {
            label: 'Name',
            field: 'first_name'
          },
          {
            label: 'Country',
            field: 'country.name'
          },
          {
            label: 'Email',
            field: 'email'
          },
          {
            label: 'Telephone Number',
            field: 'telephone_1'
          },
          {
            label: 'Action'
          }
        ]
      }
    },
    computed: {
      companies: function () {
        return this.$store.state.companyStore.companies
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_companies')
    },
    methods: {
      doDelete: function (pubclicId) {
        this.$store.dispatch('delete_company', pubclicId)
      },
      view: function (pubclicId) {
        this.$router.push({
          name: 'Admin.Company',
          params: {
            company_id: pubclicId
          }
        })
      }
    }
  }
</script>

<style>

</style>
