<template>
  <div class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <top-bar></top-bar>
      <nav-bar></nav-bar>
      <div class="content-wrapper">
        <router-view></router-view>
      </div>
      <footer-bar></footer-bar>
    </div>
  </div>
</template>

<script>
  import TopBar from './TopBar.vue'
  import Nav from './Nav.vue'
  import Footer from './Footer.vue'
  export default {
    data () {
      return {}
    },
    components: {
      'nav-bar': Nav,
      'top-bar': TopBar,
      'footer-bar': Footer
    }
  }
</script>

<style>

</style>
