<template>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <!--<img src="/static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
        </div>
        <div class="pull-left info">
          <p>{{user_name}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <router-link :to="{name: 'Admin.Dashboard'}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </router-link>
        </li>
        <!--<li class=" treeview">-->
          <!--<router-link :to="{name: 'Admin.'}">-->
            <!--<i class="fa fa-dashboard"></i> <span>Vehicle Positions</span>-->
          <!--</router-link>-->
        <!--</li>-->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-map"></i>
            <span>Rides</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">count</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{name: 'Admin.CreateTrip'}">
                <i class="fa fa-circle-o"></i> <span>Create Trip</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.UnAssignedTrips'}">
                <i class="fa fa-circle-o"></i> <span>Un Assigned Trips</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.AssignedTrips'}">
                <i class="fa fa-circle-o"></i> <span>Assigned Trips</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.SessionTrips'}">
                <i class="fa fa-circle-o"></i> <span>Trips in session</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.CompletedTrips'}">
                <i class="fa fa-circle-o"></i> <span>Completed Trips</span>
              </router-link>
            </li>
            <!--<li>-->
              <!--<router-link :to="{name: 'Admin.AllTrips'}">-->
                <!--<i class="fa fa-circle-o"></i> <span> All Trips</span>-->
              <!--</router-link>-->
            <!--</li>-->
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i>
            <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{name: 'Admin.AddUser'}">
                <i class="fa fa-circle-o"></i> <span> Add</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.Users'}">
                <i class="fa fa-circle-o"></i> <span> Users</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.DeletedUsers'}">
                <i class="fa fa-circle-o"></i> <span> Deleted Users</span>
              </router-link>
            </li>
            <!--<li>-->
              <!--<router-link :to="{name: 'Admin.Roles'}">-->
                <!--<i class="fa fa-circle-o"></i> <span> Role Assignment</span>-->
              <!--</router-link>-->
            <!--</li>-->
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-truck"></i>
            <span>Vehicles</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{name: 'Admin.AddOwner'}">
                <i class="fa fa-circle-o"></i> <span> Add Owner</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.AddVehicle'}">
                <i class="fa fa-circle-o"></i> <span> Add Vehicle</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.Owners'}">
                <i class="fa fa-circle-o"></i> <span> Owners</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.Vehicles'}">
                <i class="fa fa-circle-o"></i> <span> Vehicles</span>
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-chain-broken"></i>
            <span>Vehicle Assignments</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{name: 'Admin.Assignments'}">
                <i class="fa fa-circle-o"></i> <span> All Assignments</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.Assignment'}">
                <i class="fa fa-circle-o"></i> <span> Un Assigned Vehicles</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.Assignment'}">
                <i class="fa fa-circle-o"></i> <span> Un Assigned Drivers</span>
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-building"></i>
            <span>Institutions</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{name: 'Admin.AddCompany'}">
                <i class="fa fa-plus"></i> <span> Add</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.Companies'}">
                <i class="fa fa-circle-o"></i> <span> Companies</span>
              </router-link>
            </li>
            <!--<li>-->
              <!--<router-link :to="{name: 'Admin.Contracts'}">-->
                <!--<i class="fa fa-circle-o"></i> <span> Contracts</span>-->
              <!--</router-link>-->
            <!--</li>-->
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-car"></i>
            <span>Drivers</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{name: 'Admin.AddDriver'}">
                <i class="fa fa-user"></i> <span> Add Driver</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Admin.Drivers'}">
                <i class="fa fa-users"></i> <span> Drivers</span>
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <router-link :to="{name: 'Admin.Defaults'}">
            <i class="fa fa-users"></i> <span> Defaults</span>
          </router-link>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
  export default {
    data () {
      return {
        user_name: localStorage.getItem('user_name')
      }
    },
    created () {

    }
  }
</script>

<style>

</style>
