<template>
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add Zone</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
         <form v-on:click.prevent="post">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Zone Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" v-model="zone.zone_name"  placeholder="Zone Name">
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.zone_name">
                <p>{{this.$store.state.errorStore.all_errors.zone_name[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Description</label>
              <textarea v-model="zone.description" class="form-control" id="" cols="30" rows="10"></textarea>
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.description">
                <p>{{this.$store.state.errorStore.all_errors.description[0]}}</p>
              </div>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button> <v-loading></v-loading>
          </div>
         </form>
        </div>
        <!-- /.box -->
      </div>
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="zone, key in zones">
              <td>{{key + 1}}</td>
              <td>{{zone.name}}</td>
              <td>{{zone.description}}</td>
              <td>
                <button v-on:click="doDeleted(zone.public_id)" class="btn btn-danger btn-sm">Delete Line</button>
                <button type="button" class="btn btn-info btn-sm">Edit Line</button>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        zone: {
          zone_name: '',
          description: '',
          company_id: localStorage.getItem('zxcvbnm')
        }
      }
    },
    created () {
      this.$store.dispatch('clear_errors')
      this.$store.dispatch('get_company_zones', this.zone.company_id)
    },
    computed: {
      zones: function () {
        return this.$store.state.zoneStore.zones
      }
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_zone', this.zone)
      },
      doDeleted: function (publicId) {
        var data = {
          public_id: publicId,
          company_id: this.zone.company_id
        }
        this.$store.dispatch('delete_zone', data)
      }
    }
  }
</script>

<style>

</style>
