<template>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Reports</h3> <v-loading></v-loading>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Passenger</th>
                <th>Trip Date</th>
                <th>Trip Time</th>
                <th>Departure Location</th>
                <th>Destination</th>
                <th>Distance Traveled</th>
                <th>Time Used</th>
                <th>Total Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Passenger</th>
                <th>Trip Date</th>
                <th>Trip Time</th>
                <th>Departure Location</th>
                <th>Destination</th>
                <th>Distance Traveled</th>
                <th>Time Used</th>
                <th>Total Amount</th>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {}
    }
  }
</script>

<style>

</style>
