<template>
<div class="">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Users
      <small>Cont</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Create User</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add User</h3>
          </div>
          <!-- /.box-header -->
          <form v-on:submit.prevent="post()">
          <!-- form start -->
          <div class="box-body">
            <div v-if="user_type === '5'" class="form-group">
              <label >User Type</label>
              <select v-model="user.user_type"  class="form-control">
                <option value="" disabled selected>Select User Type</option>
                <option v-for="user_type, key in this.$store.state.userTypeStore.user_types" :value="user_type.public_id">{{user_type.name}}</option>
              </select>
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.user_type">
                <p>{{this.$store.state.errorStore.all_errors.user_type[0]}}</p>
              </div>
            </div>
            <div v-if="user_type !== '5'" class="form-group">
              <label >User Type</label>
              <select v-model="user.user_type"  class="form-control">
                <option value="" disabled selected>Select User Type</option>
                <option v-if="key > 0 && key < 3 || key === 5" v-for="user_type, key in this.$store.state.userTypeStore.user_types" :value="user_type.public_id">{{user_type.name}}</option>
              </select>
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.user_type">
                <p>{{this.$store.state.errorStore.all_errors.user_type[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label >First Name</label>
              <input type="text" maxlength="50" class="form-control" v-model="user.first_name" placeholder="First Name">
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.first_name">
                <p>{{this.$store.state.errorStore.all_errors.first_name[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label >Last Name</label>
              <input type="text" maxlength="50" class="form-control" v-model="user.last_name"  placeholder="Last Name">
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.last_name">
                <p>{{this.$store.state.errorStore.all_errors.last_name[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label >Email</label>
              <input type="email" maxlength="50" class="form-control" v-model="user.email"  placeholder="Email">
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.email">
                <p>{{this.$store.state.errorStore.all_errors.email[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label >Phone Number</label>
              <input type="tel" maxlength="12" class="form-control" v-model="user.phone_number"  placeholder="2547...">
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.phone_number">
                <p>{{this.$store.state.errorStore.all_errors.phone_number[0]}}</p>
              </div>
            </div>
            <div class="form-group" v-if="user_type === '5'">
              <label >Company</label>
              <select v-model="user.company"  class="form-control">
                <option value="" disabled selected>Select Company</option>
                <option value="">No Company</option>
                <option v-for="company in this.$store.state.companyStore.companies" :value="company.public_id">{{company.name}}</option>
              </select>
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.company">
                <p>{{this.$store.state.errorStore.all_errors.company[0]}}</p>
              </div>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button> <v-loading></v-loading>
          </div>
          </form>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
</div>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        user: {
          user_type: '',
          first_name: '',
          last_name: '',
          email: '',
          phone_number: '',
          company: '',
          redirect_url: this.url()
        },
        user_type: localStorage.getItem('mnbvcxz'),
        company_id: localStorage.getItem('zxcvbnm')
      }
    },
    created () {
      this.$store.dispatch('clear_errors')
      this.$store.dispatch('get_user_types')
      this.$store.dispatch('get_companies')
      if (localStorage.key('zxcvbnm')) {
        this.user.company = localStorage.getItem('zxcvbnm')
      }
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('reset_errors')
        this.$store.dispatch('post_user', this.user)
      },
      url: function () {
        return this.$route.name.split('.', 1) + '.Users'
      }
    }
  }
</script>

<style>

</style>
