<template>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Users</h3> <v-loading></v-loading>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <vue-good-table
              :columns="columns"
              :rows="all_users"
              :paginate="true"
              :globalSearch="true"
              :lineNumbers="true"
              styleClass="table table-bordered table-striped"
            >
              <template slot="table-row" scope="props">
                <td>{{props.row.first_name}} {{props.row.last_name}}</td>
                <td>{{props.row.user_type.name}}</td>
                <td>{{props.row.email}}</td>
                <td>{{props.row.phone_number}}</td>
                <td v-if="user_type === '5'"><button class="btn btn-info" v-if="props.row.company !== null">{{props.row.company.name}}</button></td>
                <td>
                  <button v-on:click="view(props.row.public_id)" class="btn btn-primary">View</button>
                  <!--<button class="btn btn-danger">Deactivate</button>-->
                </td>
              </template>
            </vue-good-table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import Paginate from 'vue-paginate/src/components/Paginate'
  import VLoading from '../Loading.vue'

  export default {
    components: {
      VLoading,
      Paginate},
    data () {
      return {
        columns: [
          {
            label: 'Name',
            field: 'first_name'
          },
          {
            label: 'User Type',
            field: 'user_type.name'
          },
          {
            label: 'Email',
            field: 'email'
          },
          {
            label: 'Phone Number',
            field: 'phone_number'
          },
          {
            label: 'Company'
          },
          {
            label: 'Action'
          }
        ],
        user_type: localStorage.getItem('mnbvcxz'),
        paginate: ['paginated_users']
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('reset_errors')
      if (this.user_type !== '5') {
        this.$store.dispatch('get_users', localStorage.getItem('zxcvbnm'))
      } else {
        this.$store.dispatch('get_all_users')
      }
    },
    methods: {
      view: function (publicId) {
        this.$router.push({
          name: this.$route.name.split('.', 1) + '.User',
          params: {
            user_id: publicId
          }
        })
      }
    },
    computed: {
      all_users: function () {
        if (this.user_type !== '5') {
          return this.$store.state.userStore.users
        } else {
          return this.$store.state.userStore.all_users
        }
      }
    }
  }
</script>

<style>

</style>
