<template>
  <div class="">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{user.first_name}}'s Profile <v-loading></v-loading>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">User profile</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">

              <h3 class="profile-username text-center">{{user.first_name}} {{user.last_name}}</h3>

              <p class="text-muted text-center">{{user.user_type.name}}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Trips</b> <a class="pull-right">{{user.rides_count}}</a>
                </li>
              </ul>

              <button class="btn btn-primary btn-block" v-on:click="openBooking()"><b>Book {{user.first_name}} a ride</b></button>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About {{user.first_name}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-calendar margin-r-5"></i> Registration</strong>

              <p class="text-muted">
                {{user.first_name}} was registered on {{user.created_at}} at {{user.created_at}}.
              </p>

              <hr>
              <strong><i class="fa fa-building margin-r-5"></i> Company</strong>

              <p class="text-muted" v-if="user.company !== null">{{user.company.name}}</p>

              <hr>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Trips</a></li>
              <li ><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Driver</th>
                    <th>Trip Date Time</th>
                    <th>Departure Location</th>
                    <th>Arrival Location</th>
                    <th>Amount</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="ride in rides">
                    <td v-if="ride.user !== null">{{ride.user.user_detail.first_name}} {{ride.user.user_detail.last_name}}</td>
                    <td v-if="ride.user === null"><button class="btn btn-primary btn-sm" v-on:click="assignDriver(ride.public_id)">Assign Driver</button></td>
                    <td>{{ride.date_time}}</td>
                    <td>{{ride.departure_name}}</td>
                    <td>{{ride.destination_name}}</td>
                    <td v-if="ride.amount !== null">{{ride.amount}}</td>
                    <td v-if="ride.amount === null"><span class="badge">Not Billed</span></td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Driver</th>
                    <th>Trip Date Time</th>
                    <th>Departure Location</th>
                    <th>Arrival Location</th>
                    <th>Amount</th>
                  </tr>
                  </tfoot>
                </table>
              </div>

              <div class=" tab-pane" id="settings">
                <form v-on:submit.prevent="post()">
                  <!-- form start -->
                  <div class="box-body">
                    <div v-if="user_type === '5'" class="form-group">
                      <label >User Type</label>
                      <select v-model="user_edit.user_type"  class="form-control">
                        <option value="" disabled selected>Select User Type</option>
                        <option v-for="user_type, key in this.$store.state.userTypeStore.user_types" :value="user_type.public_id">{{user_type.name}}</option>
                      </select>
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.user_type">
                        <p>{{this.$store.state.errorStore.all_errors.user_type[0]}}</p>
                      </div>
                    </div>
                    <div v-if="user_type !== '5'" class="form-group">
                      <label >User Type</label>
                      <select v-model="user_edit.user_type"  class="form-control">
                        <option value="" disabled selected>Select User Type</option>
                        <option v-if="key > 0 && key < 3 || key === 5" v-for="user_type, key in this.$store.state.userTypeStore.user_types" :value="user_type.public_id">{{user_type.name}}</option>
                      </select>
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.user_type">
                        <p>{{this.$store.state.errorStore.all_errors.user_type[0]}}</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label >Last Name</label>
                      <input type="text" maxlength="50" class="form-control" v-model="user_edit.last_name"  placeholder="Last Name">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.last_name">
                        <p>{{this.$store.state.errorStore.all_errors.last_name[0]}}</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label >Email</label>
                      <input type="email" maxlength="50" class="form-control" v-model="user_edit.email"  placeholder="Email">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.email">
                        <p>{{this.$store.state.errorStore.all_errors.email[0]}}</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label >Phone Number</label>
                      <input type="tel" maxlength="12" class="form-control" v-model="user_edit.phone_number"  placeholder="2547...">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.phone_number">
                        <p>{{this.$store.state.errorStore.all_errors.phone_number[0]}}</p>
                      </div>
                    </div>
                    <div class="form-group" v-if="user_type === '5'">
                      <label >Company</label>
                      <select v-model="user_edit.company"  class="form-control">
                        <option value="" disabled selected>Select Company</option>
                        <option value="">No Company</option>
                        <option v-for="company in this.$store.state.companyStore.companies" :value="company.public_id">{{company.name}}</option>
                      </select>
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.company">
                        <p>{{this.$store.state.errorStore.all_errors.company[0]}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button> <v-loading></v-loading>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        user_edit: {
          user_type: '',
          first_name: '',
          last_name: '',
          email: '',
          phone_number: '',
          company: '',
          public_id: this.$route.params.user_id,
          redirect_url: this.url()
        },
        user_type: localStorage.getItem('mnbvcxz'),
        company_id: localStorage.getItem('zxcvbnm')
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_user', this.$route.params.user_id)
      this.$store.dispatch('get_user_rides', this.$route.params.user_id)
      this.$store.dispatch('clear_errors')
      this.$store.dispatch('get_user_types')
      this.$store.dispatch('get_companies')
      if (localStorage.key('zxcvbnm')) {
        this.user_edit.company = localStorage.getItem('zxcvbnm')
      }
    },
    computed: {
      user: function () {
        this.user_edit.first_name = this.$store.state.userStore.user.first_name
        this.user_edit.last_name = this.$store.state.userStore.user.last_name
        this.user_edit.email = this.$store.state.userStore.user.email
        this.user_edit.phone_number = this.$store.state.userStore.user.phone_number
        return this.$store.state.userStore.user
      },
      rides: function () {
        return this.$store.state.rideStore.rides
      }
    },
    methods: {
      openBooking: function () {
        this.$router.push({
          name: this.$route.name.split('.', 1) + '.CreateTrip'
        })
      },
      view: function (publicId) {
        this.$router.push({
          name: this.$route.name.split('.', 1) + '.User',
          params: {
            user_id: publicId
          }
        })
      },
      assignDriver: function (publicID) {
        this.$router.push({
          name: this.$route.name.split('.', 1) + '.AssignDriver',
          params: {
            ride_id: publicID
          }
        })
      },
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('update_user', this.user_edit)
      },
      url: function () {
        return this.$route.name.split('.', 1) + '.Users'
      }
    }
  }
</script>

<style>

</style>
