<template>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Assigned Trips</h3> <v-loading></v-loading>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <vue-good-table
              :columns="columns"
              :rows="rides"
              :paginate="true"
              :globalSearch="true"
              :lineNumbers="true"
              styleClass="table table-bordered table-striped"
            >
              <template slot="table-row" scope="props">
                <td>{{props.row.type.name}}</td>
                <td>{{props.row.client_name}}</td>
                <td>{{props.row.user.user_detail.first_name}} {{props.row.user.user_detail.last_name}}</td>
                <td>{{formated_date(props.row.date_time)}}</td>
                <td>{{props.row.departure_name}}</td>
                <td>{{props.row.destination_name}}</td>
                <td class="text-center">
                  <button class="btn btn-primary btn-sm">Change Driver</button>
                  <button type="button" class="btn btn-info btn-sm" v-on:click="addNote(props.row.public_id)">Add Note</button>
                  <button class="btn btn-danger btn-sm" v-on:click="doDelete(props.row.public_id)">X</button>
                </td>
              </template>
            </vue-good-table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'
  import DateMixin from '../../mixins/functions/DateMixins'
  export default {
    components: {VLoading},
    data () {
      return {
        columns: [
          {
            label: 'Ride Type',
            field: 'type.name'
          },
          {
            label: 'Passenger',
            field: 'client_name'
          },
          {
            label: 'Trip Date Time',
            field: 'date_time'
          },
          {
            label: 'Departure Location',
            field: 'departure_name'
          },
          {
            label: 'Arrival Location',
            field: 'destination_name'
          },
          {
            label: 'Actions'
          }
        ]
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_all_assigned_trips')
    },
    computed: {
      rides: function () {
        return this.$store.state.rideStore.all_assigned_trips
      }
    },
    methods: {
      addNote: function (publicID) {
        this.$router.push({
          name: 'Admin.RideNote',
          params: {
            ride_id: publicID
          }
        })
      },
      doDelete: function (publicId) {
        this.$store.dispatch('delete_ride', publicId)
      }
    },
    mixins: [DateMixin]
  }
</script>

<style>

</style>
