<template>
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-body">
            <form v-on:submit.prevent="post">
              <div class="row">
              <div class="col-md-6">
                <h4>Passenger: <strong>{{trip.passenger.first_name}} {{trip.passenger.last_name}}</strong></h4>
                <h4>Departure: <strong>{{trip.departure_name}}</strong> </h4>
                <h4>Destination: <strong>{{trip.destination_name}}</strong> </h4>
                <h4>Vehicle Type: <strong>{{trip.vehicle_type.name}}</strong> </h4>
                <h4>Time: <strong>{{trip.date_time}}</strong> </h4>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-3">
                      Repeat Every Week
                      <input type="radio" v-model="block.type" name="repeat" value="1">
                    </div>
                    <div class="col-md-3">
                      Repeat Every Day
                      <input type="radio" v-model="block.type" name="repeat" value="2">
                    </div>
                  </div>
                  <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.repeat">
                    <p>{{this.$store.state.errorStore.all_errors.repeat[0]}}</p>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      Final Date (this date is inclusive)
                      <div class="input-group date" id="date_manenos">
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                        <datepicker :format="format" v-model="block.date" style="width: 1000px"></datepicker>
                      </div>
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.final_date">
                        <p>{{this.$store.state.errorStore.all_errors.final_date[0]}}</p>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                      <button class="btn btn-success">Update</button> <v-loading></v-loading>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
</template>

<script>
  import Datepicker from 'vuejs-datepicker'
  import VLoading from '../Loading.vue'
  export default {
    data () {
      return {
        block: {
          type: '',
          date: '',
          public_id: this.$route.params.ride_id,
          redirect_url: 'Admin.UnAssignedTrips'
        }
      }
    },
    computed: {
      trip: function () {
        return this.$store.state.rideStore.ride
      }
    },
    components: {
      VLoading,
      Datepicker},
    created () {
      this.$store.dispatch('get_ride', this.$route.params.ride_id)
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('block_book', this.block)
      }
    }
  }
</script>

<style>
  #date_manenos input, select {
    padding: .54em .5em;
    font-size: 100%;
    border: 1px solid #ccc;
    width: 30%
  }
</style>
