<template>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Update Trip</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form v-on:submit.prevent="post">
              <div v-if="user_type === '5'" class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Ride Type</label>
                    <select v-model="trip.ride_type" class="form-control">
                      <option value="" disabled selected>Select Ride Type</option>
                      <option v-for="ride_type in this.$store.state.rideTypeStore.all_ride_types" :value="ride_type.public_id">{{ride_type.name}}</option>
                    </select>
                    <p>Ride Type: {{ride.ride_type.name}}</p>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.ride_type">
                      <p>{{this.$store.state.errorStore.all_errors.ride_type[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Companies</label>
                    <select v-model="trip.company" v-on:change="users()" class="form-control">
                      <option value="" disabled selected>Select Company</option>
                      <option v-for="company in this.$store.state.companyStore.companies" :value="company.public_id">{{company.name}}</option>
                    </select>
                    <p v-if="ride.company !== null">Company: {{ride.company.name}}</p>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.company">
                      <p>{{this.$store.state.errorStore.all_errors.company[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Passenger</label>
                    <select v-model="trip.user" class="form-control">
                      <option value="" disabled selected>Select Passenger</option>
                      <option v-for="user in this.$store.state.companyStore.company_users" :value="user.public_id">{{user.first_name}} {{user.last_name}}</option>
                    </select>
                    <p>Passenger: {{ride.passenger.first_name}} {{ride.passenger.last_name}}</p>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.passenger">
                      <p>{{this.$store.state.errorStore.all_errors.passenger[0]}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="user_type !== '5'"class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Ride Type</label>
                    <select v-model="trip.ride_type" class="form-control">
                      <option value="" disabled selected>Select Ride Type</option>
                      <option v-if="key < 2" v-for="ride_type, key in this.$store.state.rideTypeStore.all_ride_types" :value="ride_type.public_id">{{ride_type.name}}</option>
                    </select>
                    <p>Ride Type: {{ride.ride_type.name}}</p>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.ride_type">
                      <p>{{this.$store.state.errorStore.all_errors.ride_type[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Passenger</label>
                    <select v-model="trip.user" class="form-control">
                      <option value="" disabled selected>Select Passenger</option>
                      <option v-for="user in this.$store.state.userStore.users" :value="user.public_id">{{user.first_name}} {{user.last_name}}</option>
                    </select>
                    <p>Passenger: {{ride.passenger.first_name}} {{ride.passenger.last_name}}</p>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.passenger">
                      <p>{{this.$store.state.errorStore.all_errors.passenger[0]}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Account Lines </label>
                    <select v-model="trip.account_line" class="form-control">
                      <option value="" disabled selected>Select Account Line</option>
                      <option v-for="account_line in this.$store.state.accountLineStore.acount_lines" :value="account_line.public_id">{{account_line.name}}</option>
                    </select>
                    <p v-if="ride.account_line !== null">Account Line: {{ride.account_line.name}}</p>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.account_line">
                      <p>{{this.$store.state.errorStore.all_errors.account_line[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Vehicle Type</label>
                    <select v-model="trip.vehicle_type" class="form-control">
                      <option value="" disabled selected>Select Vehicle Type</option>
                      <option v-for="vehicle_type in this.$store.state.vehicleTypeStore.all_vehicle_types" :value="vehicle_type.public_id">{{vehicle_type.name}}</option>
                    </select>
                    <p>Vehicle Type: {{ride.vehicle_type.name}}</p>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.vehicle_type">
                      <p>{{this.$store.state.errorStore.all_errors.vehicle_type[0]}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" id="date_manenos" >
                    <label>Trip Date </label>
                    <br>
                    <datepicker :format="format"  v-model="trip.b_date" style="width: 1000px"></datepicker>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.ride_date">
                      <p>{{this.$store.state.errorStore.all_errors.ride_date[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Trip Time</label>
                    <input type="time" class="form-control" :value="now_time" placeholder="HH:mm" format="HH:ii" v-model="trip.b_time">
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.ride_time">
                      <p>{{this.$store.state.errorStore.all_errors.ride_time[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <p>Date Time: {{ride.date_time}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>From </label>
                    <br>
                    <gmap-autocomplete :default-place="place" class="form-control"
                                       @place_changed="setOrigin">
                    </gmap-autocomplete>
                    <p>From: {{ride.departure_name}}</p>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.origin">
                      <p>{{this.$store.state.errorStore.all_errors.origin[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Destination</label>
                    <br>
                    <gmap-autocomplete v-model="trip.destination" :default-place="place" class="form-control"
                                       @place_changed="setDestination">
                    </gmap-autocomplete>
                    <p>Destination: {{ride.destination_name}}</p>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.destination">
                      <p>{{this.$store.state.errorStore.all_errors.destination[0]}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <br>
                  <button class="btn btn-success" style="margin-top: 2%" type="submit">Update Trip</button> <v-loading></v-loading>
                </div>
              </div>
            </form>
            <div class="">
              <div class="col-md-12">
                <em>Routes are subject to the driver and note given</em>
                <gmap-map :center="center" :zoom="11" style="width: 100%; height: 400px">
                  <gmap-marker :key="index" :position="originLatLng" :clickable="true" :draggable="false" @click="center=originLatLng"></gmap-marker>
                  <gmap-marker :key="index" :position="destinationLatLng" :clickable="true" :draggable="false" @click="center=destinationLatLng"></gmap-marker>
                </gmap-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import Datepicker from 'vuejs-datepicker'
  import VLoading from '../Loading.vue'
  export default {
    data () {
      return {
        trip: {
          company: '',
          user: '',
          ride_type: '',
          account_line: '',
          origin: '',
          destination: '',
          vehicle_type: '',
          b_date: '',
          b_time: '',
          public_id: this.$route.params.ride_id,
          redirect_url: this.$route.name.split('.', 1) + '.UnAssignedTrips'
        },
        originLatLng: {},
        destinationLatLng: {},
        company: '',
        center: {lat: -1.301024, lng: 36.822668},
        user_type: localStorage.getItem('mnbvcxz')
      }
    },
    components: {
      VLoading,
      Datepicker
    },
    created () {
      this.$store.dispatch('clear_errors')
      this.$store.dispatch('get_all_ride_types')
      this.$store.dispatch('get_companies')
      this.$store.dispatch('get_all_vehicle_types')
      this.$store.dispatch('get_ride', this.$route.params.ride_id)
      if (localStorage.key('zxcvbnm')) {
        this.trip.company = localStorage.getItem('zxcvbnm')
        this.$store.dispatch('get_users', localStorage.getItem('zxcvbnm'))
      }
    },
    computed: {
      now_time: function () {
        var date = new Date()
        var hour = date.getHours()
        var min = date.getMinutes()
        return hour + ':' + min
      },
      now_date: function () {
        var date = new Date()
        var day = date.getDate()
        if (day < 10) {
          day = '0' + day
        }
        var month = date.getMonth()
        month = month + 1
        if (month < 10) {
          month = '0' + month
        }
        var year = date.getFullYear()
        return year + '-' + month + '-' + day
      },
      ride: function () {
        return this.$store.state.rideStore.ride
      }
    },
    methods: {
      users: function () {
        this.$store.dispatch('get_company_users', this.trip.company)
        this.$store.dispatch('get_account_lines', this.trip.company)
      },
      setOrigin: function (place) {
        this.originLatLng = {
          lat: place.geometry.location.lat(),
          lng: place.geometry.location.lng()
        }
        this.trip.origin = place.formatted_address
      },
      setDestination: function (place) {
        this.destinationLatLng = {
          lat: place.geometry.location.lat(),
          lng: place.geometry.location.lng()
        }
        this.trip.destination = place.formatted_address
      },
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('reset_errors')
        this.$store.dispatch('update_ride', this.trip)
      }
    }
  }
</script>

<style>
  #date_manenos input, select {
    padding: .54em .5em;
    font-size: 100%;
    border: 1px solid #ccc;
    width: 65%
  }
</style>
