<template>
  <div class="">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Ride Note</h3>
            </div>
            <!-- /.box-header -->
            <form v-on:submit.prevent="post">
              <!-- form start -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label></label>
                      <textarea type="text" col="30" rows="10" placeholder="Ride Note..." v-model="note.written" maxlength="50" class="form-control">{{this.$store.state.rideStore.ride.note}}</textarea>
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.note">
                        <p>{{this.$store.state.errorStore.all_errors.note[0]}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button> <v-loading></v-loading>
              </div>
            </form>

          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Ride Note file</h3>
            </div>
            <!-- /.box-header -->
            <form v-on:submit.prevent="upload" enctype="multipart/form-data">
              <!-- form start -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label></label>
                      <fileupload :target="this.upload_url" action="POST" v-on:progress="progress" v-on:start="startUpload" v-on:finish="finishUpload"></fileupload>
                      <em>Only pdf files</em>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </form>

          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary" @click="$refs.myPdfComponent.print()">print</button>
        <pdf v-if="this.$store.state.rideStore.ride.file !== null" ref="myPdfComponent" :src="source"></pdf>
      </div>
    </section>
  </div>
</template>

<script>
  import FileUpload from 'vue-simple-upload/dist/FileUpload'
  import pdf from 'vue-pdf'
  import VLoading from '../Loading.vue'
  export default {
    data () {
      return {
        note: {
          written: '',
          public_id: this.$route.params.ride_id,
          redirect_url: this.$route.name.split('.', 1) + '.UnAssignedTrips'
        },
        upload_url: 'http://abback.tymizawebapps.com/vue/rides/upload/' + this.$route.params.ride_id
      }
    },
    components: {
      VLoading,
      'fileupload': FileUpload,
      'pdf': pdf
    },
    computed: {
      source: function () {
        return 'http://abback.tymizawebapps.com/files/' + this.$store.state.rideStore.ride.file
      }
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_note', this.note)
      },
      upload: function () {
        this.$store.dispatch('upload_file_note', this.note)
      },
      startUpload (e) {
        // file upload start event
        console.log(e)
      },
      finishUpload (e) {
        // file upload finish event
        this.$router.push({
          name: this.$route.name.split('.', 1) + '.UnAssignedTrips'
        })
      },
      progress (e) {
        // file upload progress
        // returns false if progress is not computable
        console.log(e)
      }
    },
    created () {
      this.$store.dispatch('get_ride', this.$route.params.ride_id)
    }
  }
</script>

<style>

</style>
