<template>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Un Assigned Trips</h3> <v-loading></v-loading>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <vue-good-table
              :columns="columns"
              :rows="this.$store.state.rideStore.all_unassigned_trips"
              :paginate="true"
              :globalSearch="true"
              :lineNumbers="true"
              styleClass="table table-bordered table-striped"
            >
              <template slot="table-row" scope="props">
                <td>{{props.row.type.name}}</td>
                <td>{{props.row.client_name}}</td>
                <td>{{props.row.user.user_detail.first_name}} {{props.row.user.user_detail.last_name}}</td>
                <td>{{formated_date(props.row.date_time)}}</td>
                <td>{{props.row.departure_name}}</td>
                <td>{{props.row.destination_name}}</td>
                <td class="text-center">
                  <button type="button" class="btn btn-success btn-sm" v-on:click="makeRepetitive(trip.public_id)">Make Block</button>
                  <button class="btn btn-primary btn-sm" v-if="user_type === '5'" v-on:click="assignDriver(trip.public_id)">Assign Driver</button>
                  <button type="button" v-on:click="addNote(trip.public_id)" class="btn btn-info btn-sm">Add Note</button>
                  <button type="button" v-on:click="editTrip(trip.public_id)" class="btn btn-warning btn-sm">Edit</button>
                  <button class="btn btn-danger btn-sm" v-on:click="doDelete(trip.public_id)">Cancel Trip</button>
                </td>
              </template>
            </vue-good-table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'
  import DateMixin from '../../mixins/functions/DateMixins'

  export default {
    components: {VLoading},
    data () {
      return {
        columns: [
          {
            label: 'Ride Type',
            field: 'type.name'
          },
          {
            label: 'Passenger',
            field: 'client_name'
          },
          {
            label: 'Driver',
            field: 'client_name'
          },
          {
            label: 'Trip Date Time',
            field: 'date_time'
          },
          {
            label: 'Departure Location',
            field: 'departure_name'
          },
          {
            label: 'Arrival Location',
            field: 'destination_name'
          },
          {
            label: 'Action'
          }
        ],
        user_type: localStorage.getItem('mnbvcxz'),
        company_id: localStorage.getItem('zxcvbnm'),
        paginate: ['pagination']
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_all_unassigned_trips')
    },
    methods: {
      makeRepetitive: function (publicID) {
        this.$router.push({
          name: this.$route.name.split('.', 1) + '.BlockBooking',
          params: {
            ride_id: publicID
          }
        })
      },
      assignDriver: function (publicID) {
        this.$router.push({
          name: this.$route.name.split('.', 1) + '.AssignDriver',
          params: {
            ride_id: publicID
          }
        })
      },
      addNote: function (publicID) {
        this.$router.push({
          name: this.$route.name.split('.', 1) + '.RideNote',
          params: {
            ride_id: publicID
          }
        })
      },
      editTrip: function (publicID) {
        this.$router.push({
          name: this.$route.name.split('.', 1) + '.EditTrip',
          params: {
            ride_id: publicID
          }
        })
      },
      doDelete: function (publicId) {
        this.$store.dispatch('delete_ride', publicId)
      }
    },
    mixins: [DateMixin]
  }
</script>

<style>

</style>
