<template>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Account Lines <v-loading></v-loading></h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="line, key in lines">
              <td>{{key + 1}}</td>
              <td>{{line.name}}</td>
              <td>{{line.description}}</td>
              <td>
                <button v-on:click="doDeleted(line.public_id)" class="btn btn-danger btn-sm">Delete Line</button>
                <button type="button" class="btn btn-info btn-sm">Edit Line</button>
              </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        company_id: localStorage.getItem('zxcvbnm')
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_account_lines', this.company_id)
    },
    computed: {
      lines: function () {
        return this.$store.state.accountLineStore.acount_lines
      }
    },
    methods: {
      doDeleted: function (publicId) {
        var data = {
          public_id: publicId,
          company_id: this.company_id
        }
        this.$store.dispatch('delete_account_line', data)
      }
    }
  }
</script>

<style>

</style>
