<template>
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add Account Line</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form v-on:click.prevent="post">
          <div class="box-body">
            <div class="form-group">
              <label >Account Line Name</label>
              <input type="text" class="form-control"  v-model="line.account_line_name" placeholder="Account Line Name">
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.account_line_name">
                <p>{{this.$store.state.errorStore.all_errors.account_line_name[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label >Description</label>
              <textarea v-model="line.description" class="form-control" id="" cols="30" rows="10"></textarea>
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.description">
                <p>{{this.$store.state.errorStore.all_errors.description[0]}}</p>
              </div>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button> <v-loading></v-loading>
          </div>
          </form>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        line: {
          account_line_name: '',
          description: '',
          redirect_url: 'Company.AccountLines',
          company_id: localStorage.getItem('zxcvbnm')
        }
      }
    },
    created () {
      this.$store.dispatch('clear_errors')
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_account_line', this.line)
      }
    }
  }
</script>

<style>

</style>
