<template>
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add Driver</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
         <form v-on:submit.prevent="post">
          <div class="box-body">
            <div class="form-group">
              <label >User</label>
              <select v-model="driver.user" id="" class="form-control">
                <option value="" selected disabled>Select User</option>
                <option v-for="user in users" :value="user.public_id">{{user.first_name}} {{user.last_name}}</option>
              </select>
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.user">
                <p>{{this.$store.state.errorStore.all_errors.user[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label >License Number</label>
              <input type="text" class="form-control"  v-model="driver.license_number"  placeholder="License Number..">
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.license_number">
                <p>{{this.$store.state.errorStore.all_errors.license_number[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label >ID Number</label>
              <input type="text" class="form-control"  v-model="driver.id_number"  placeholder="ID Number...">
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.id_number">
                <p>{{this.$store.state.errorStore.all_errors.id_number[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label >Residence</label>
              <input type="text" class="form-control"  v-model="driver.residence"  placeholder="Residence...">
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.residence">
                <p>{{this.$store.state.errorStore.all_errors.residence[0]}}</p>
              </div>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button> <v-loading></v-loading>
          </div>
         </form>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        driver: {
          user: '',
          license_number: '',
          id_number: '',
          residence: '',
          redirect_url: 'Admin.Drivers'
        }
      }
    },
    computed: {
      users: function () {
        return this.$store.state.driverStore.driver_users
      }
    },
    created () {
      this.$store.dispatch('get_driver_users')
      this.$store.dispatch('clear_errors')
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_driver', this.driver)
      }
    }
  }
</script>

<style>

</style>
