<template>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Drivers</h3> <v-loading></v-loading>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <vue-good-table
              :columns="columns"
              :rows="drivers"
              :paginate="true"
              :globalSearch="true"
              :lineNumbers="true"
              styleClass="table table-bordered table-striped"
            >
              <template slot="table-row" scope="props">
                <td :style="{'background-color': props.row.color}"></td>
                <td>{{props.row.user_detail.first_name}} {{props.row.user_detail.last_name}}</td>
                <td>{{props.row.license_number}}</td>
                <td>{{props.row.user_detail.email}}</td>
                <td>{{props.row.user_detail.phone_number}}</td>
                <td>
                  <button v-if="props.row.today_vehicle_assignments === true" v-on:click="viewAssignment(props.row.public_id)" class="btn btn-primary">View Assignment</button>
                  <button v-if="props.row.today_vehicle_assignments !== true" v-on:click="assignVehicle(props.row.public_id)" class="btn btn-primary">Assign a Vehicle</button>
                  <button class="btn btn-success" v-on:click="viewDriver(props.row.public_id)">View {{props.row.user_detail.first_name}}</button>
                </td>
              </template>
            </vue-good-table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        columns: [
          {
            label: 'Colour'
          },
          {
            label: 'Name',
            field: 'user_detail.first_name'
          },
          {
            label: 'License Number',
            field: 'license_number'
          },
          {
            label: 'Email',
            field: 'user_detail.email'
          },
          {
            label: 'Phone Number',
            field: 'user_detail.phone_number'
          },
          {
            label: 'Action'
          }
        ]
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_drivers')
    },
    computed: {
      drivers: function () {
        return this.$store.state.driverStore.drivers
      }
    },
    methods: {
      viewDriver: function (publicId) {
        this.$router.push({
          name: 'Admin.Driver',
          params: {
            driver_id: publicId
          }
        })
      },
      assignVehicle: function (publicId) {
        this.$router.push({
          name: 'Admin.Assignment'
        })
      },
      viewAssignment: function (publicId) {
      }
    }
  }
</script>

<style>

</style>
