<template>
  <div class="">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{driver.user_detail.first_name}}'s Profile <v-loading></v-loading>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">

              <h3 class="profile-username text-center">{{driver.user_detail.first_name}} {{driver.user_detail.last_name}}</h3>

              <!--<p class="text-muted text-center">{{driver.user_type.name}}</p>-->

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About {{driver.user_detail.first_name}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-calendar margin-r-5"></i> Registration</strong>

              <p class="text-muted">
                {{driver.user_detail.first_name}} was registered on {{driver.user_detail.created_at}}.
              </p>

              <hr>
              <strong><i class="fa "></i> ID Number</strong>

              <p class="text-muted">
                {{driver.id_number}}
              </p>
              <hr>
              <strong><i class="fa "></i> License</strong>

              <p class="text-muted">
                {{driver.license_number}}
              </p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
        <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
        <li ><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content">
        <div class="active tab-pane" id="activity">
<!---->   <div class="row container-fluid">
          <h3 v-if="this.$store.state.positionStore.position !== null" >Last Update:  {{this.$store.state.positionStore.position.created_at}}</h3>
          <h3 v-if="this.$store.state.positionStore.position === null" >Driver not Sending Location</h3>
          <div class="div" v-if="this.$store.state.positionStore.position === null" >
            <gmap-map :center="{lat: -1.301024, lng: 36.822668}" :zoom="14" style="width: 100%; height: 700px">
              <!--<gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true" :draggable="false" @click="center=m.position"></gmap-marker>-->
            </gmap-map>
          </div>
          <div class="div" v-if="this.$store.state.positionStore.position !== null" >
            <gmap-map :center="{lat: latitude, lng: longitude}" :zoom="10" style="width: 100%; height: 700px">
              <gmap-marker :position="{lat: latitude, lng: longitude}" :clickable="true" :draggable="false" @click="center={lat: latitude, lng: longitude}"></gmap-marker>
            </gmap-map>
          </div>
        </div>
        </div>
        <!-- /.tab-pane -->
          <div class="  tab-pane" id="timeline">
          </div>
          <!-- /.tab-pane -->
<!---->
        <div class=" tab-pane" id="settings">
          <form class="form-horizontal" v-on:submit.prevent="post">
            <div class="form-group ">
              <label class="col-sm-2 control-label" >License Number</label>
              <div class="col-sm-10">
                <input type="text" :value="driver.license_number" v-model="driver_edit.license_number" class="form-control">
                <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.license_number">
                  <p>{{this.$store.state.errorStore.all_errors.license_number[0]}}</p>
                </div>
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-2 control-label" >Residence</label>
              <div class="col-sm-10">
                <input type="text" :value="driver.residence" v-model="driver_edit.residence" class="form-control">
                <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.residence">
                  <p>{{this.$store.state.errorStore.all_errors.residence[0]}}</p>
                </div>
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-2 control-label" >ID Number</label>
              <div class="col-sm-10">
                <input type="text" :value="driver.id_number" v-model="driver_edit.id_number" class="form-control">
                <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.id_number">
                  <p>{{this.$store.state.errorStore.all_errors.id_number[0]}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit"  class="btn btn-danger">Submit</button>
            </div>
            <br>
            <br>
          </form>
        </div>
        <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        driver_edit: {
          license_number: '',
          residence: '',
          id_number: '',
          public_id: this.$route.params.driver_id,
          redirect_url: 'Admin.Drivers'
        }
      }
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('update_driver', this.driver_edit)
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_driver', this.$route.params.driver_id)
      this.$store.dispatch('get_position', this.$route.params.driver_id)
    },
    computed: {
      driver: function () {
        this.driver_edit.license_number = this.$store.state.driverStore.driver.license_number
        this.driver_edit.residence = this.$store.state.driverStore.driver.residence
        this.driver_edit.id_number = this.$store.state.driverStore.driver.id_number
        return this.$store.state.driverStore.driver
      },
      latitude: function () {
        if (this.$store.state.positionStore.position !== null) {
          return Number(this.$store.state.positionStore.position.lat)
        }
      },
      longitude: function () {
        if (this.$store.state.positionStore.position !== null) {
          return Number(this.$store.state.positionStore.position.long)
        }
      }
    }
  }
</script>

<style>

</style>
