<template>
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add Vehicle</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form v-on:submit.prevent="post">
          <div class="box-body">
            <div class="form-group">
              <label >Vehicle Type</label>
              <select v-model="vehicle.vehicle_type" class="form-control">
                <option value="" selected disabled>Select Vehicle Type</option>
                <option :value="type.public_id" v-for="type in this.$store.state.vehicleTypeStore.vehicle_types">{{type.name}}</option>
              </select>
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.vehicle_type">
                <p>{{this.$store.state.errorStore.all_errors.vehicle_type[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label >Vehicle Owner</label>
              <select v-model="vehicle.vehicle_owner" class="form-control">
                <option value="" selected disabled>Select Owner</option>
                <option :value="owner.public_id" v-for="owner in this.$store.state.ownerStore.vehicle_owners">{{owner.first_name}} {{owner.last_name}}</option>
              </select>
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.vehicle_owner">
                <p>{{this.$store.state.errorStore.all_errors.vehicle_owner[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label >Vehicle Number Plate</label>
              <input type="text" class="form-control"  v-model="vehicle.vehicle_plate"  placeholder="e.g. KBC 123D">
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.vehicle_plate">
                <p>{{this.$store.state.errorStore.all_errors.vehicle_plate[0]}}</p>
              </div>
            </div>
            <div class="form-group">
              <label >Vehicle Phone number</label>
              <input type="text" class="form-control"  v-model="vehicle.phone_number"  placeholder="2547...">
              <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.phone_number">
                <p>{{this.$store.state.errorStore.all_errors.phone_number[0]}}</p>
              </div>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button> <v-loading></v-loading>
          </div>
          </form>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        vehicle: {
          vehicle_type: '',
          vehicle_owner: '',
          vehicle_plate: '',
          phone_number: '',
          redirect_url: 'Admin.Vehicles'
        }
      }
    },
    created () {
      this.$store.dispatch('get_vehicle_types')
      this.$store.dispatch('get_vehicle_owners')
      this.$store.dispatch('clear_errors')
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_vehicle', this.vehicle)
      }
    }
  }
</script>

<style>

</style>
