<template>
  <div class="">

    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Un Assigned Drivers</h3>
            </div>
            <div class="box-body">
              <paginate name="drivers" :list="drivers" :per="10">
            <table  class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="driver, key in paginated('drivers')">
                <td>{{driver.user_detail.first_name}} {{driver.user_detail.last_name}}</td>
                <td><button class="btn btn-warning btn-sm" v-on:click="selectedDriver(key)">Select</button></td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Name</th>
                <th>Action</th>
              </tr>
              </tfoot>
            </table>
              </paginate>
              <paginate-links class="pagination" style="margin-left: 3%" :async="true" for="drivers"></paginate-links>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Assignment</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <h4>{{assignment.driver_name}}</h4>
                  <i class="fa fa-user"></i>
                  <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.driver">
                    <p>{{this.$store.state.errorStore.all_errors.driver[0]}}</p>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <h4>------------</h4>
                  <i class="fa fa-chain-broken"></i>
                </div>
                <div class="col-md-4 text-center">
                  <h4>{{assignment.vehicle_plate}}</h4>
                  <i class="fa fa-car"></i>
                  <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.vehicle">
                    <p>{{this.$store.state.errorStore.all_errors.vehicle[0]}}</p>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-success btn-block" v-on:click="completeAssignment">Complete Assignment</button> <v-loading></v-loading>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Un Assigned Vehicles</h3>
            </div>
            <div class="box-body">
              <paginate name="vehicles" :list="vehicles" :per="10">
              <table  class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Registration</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="vehicle, key in paginated('vehicles')">
                  <td>{{vehicle.number_plate}}</td>
                  <td><button v-on:click="selectedVehicle(key)" class="btn btn-info">Select</button></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Registration</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
              </paginate>
              <paginate-links class="pagination" style="margin-left: 3%" :async="true" for="vehicles"></paginate-links>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        assignment: {
          driver_name: 'Driver',
          driver_id: '',
          vehicle_plate: 'Vehicle Plate',
          vehicle_id: '',
          phone_number: ''
        },
        paginate: ['drivers', 'vehicles']
      }
    },
    created () {
      this.$store.dispatch('get_un_assigned_vehicle')
      this.$store.dispatch('get_un_assigned_driver')
    },
    computed: {
      drivers: function () {
        return this.$store.state.assignmentStore.unassigned_drivers
      },
      vehicles: function () {
        return this.$store.state.assignmentStore.unassigned_vehicles
      }
    },
    methods: {
      selectedDriver: function (key) {
        this.assignment.driver_name = this.drivers[key].user_detail.first_name + ' ' + this.drivers[key].user_detail.last_name
        this.assignment.driver_id = this.drivers[key].public_id
      },
      selectedVehicle: function (key) {
        this.assignment.vehicle_plate = this.vehicles[key].number_plate
        this.assignment.vehicle_id = this.vehicles[key].public_id
        this.assignment.phone_number = this.vehicles[key].phone_number
      },
      completeAssignment: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_assignment', this.assignment)
      }
    }
  }
</script>

<style>

</style>
