<template>
  <div class="">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{car.number_plate}}
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">

              <h3 class="profile-username text-center">{{car.number_plate}}</h3>

              <!--<p class="text-muted text-center">{{vehicle.user_type.name}}</p>-->

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About {{car.number_plate}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-calendar margin-r-5"></i> Registration</strong>

              <p class="text-muted">
                {{car.number_plate}} was registered on {{car.created_at}}.
              </p>

              <hr>
              <strong><i class="fa fa-user margin-r-5"></i> Owner</strong>

              <p class="text-muted">
                {{car.owner.first_name}} {{car.owner.last_name}}
              </p>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Position</a></li>
              <li class=""><a href="#assignments" data-toggle="tab">Assignments</a></li>
              <li ><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
            <div class="tab-content">
              <h3 v-if="this.$store.state.positionStore.position !== null" >Last Update:  {{this.$store.state.positionStore.position.created_at}}</h3>
              <h3 v-if="this.$store.state.positionStore.position === null" >Driver not Sending Location</h3>
              <div class="active tab-pane" id="activity" >
                <div class="div" v-if="this.$store.state.positionStore.position === null" >
                  <gmap-map :center="{lat: -1.301024, lng: 36.822668}" :zoom="14" style="width: 100%; height: 700px">
                    <!--<gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true" :draggable="false" @click="center=m.position"></gmap-marker>-->
                  </gmap-map>
                </div>
                <div class="div" v-if="this.$store.state.positionStore.position !== null" >
                  <gmap-map :center="{lat: latitude, lng: longitude}" :zoom="10" style="width: 100%; height: 700px">
                    <gmap-marker :position="{lat: latitude, lng: longitude}" :clickable="true" :draggable="false" @click="center={lat: latitude, lng: longitude}"></gmap-marker>
                  </gmap-map>
                </div>

              </div>
              <!-- /.tab-pane -->
              <div class="  tab-pane" id="assignments">
                <!---->   <div class="row">
                <div class="col-md-12">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Driver</th>
                      <th>Date</th>
                      <!--<th>Action</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <!--{{assignments}}-->
                    <tr v-for="assignment, key in assignments">
                      <td>{{key + 1}} </td>
                      <td>{{assignment.user.user_detail.first_name}} {{assignment.user.user_detail.last_name}}</td>
                      <td>{{assignment.created_at}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Driver</th>
                      <th>Date</th>
                      <!--<th>Action</th>-->
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              </div>
              <!-- /.tab-pane -->
              <!---->
              <div class=" tab-pane" id="settings">
                <form class="form-horizontal container-fluid" v-on:submit.prevent="post">
                  <div class="form-group">
                    <label >Vehicle Type</label>
                    <select v-model="vehicle_edit.vehicle_type" class="form-control">
                      <option value="" selected disabled>Select Vehicle Type</option>
                      <option :value="type.public_id" v-for="type in this.$store.state.vehicleTypeStore.vehicle_types">{{type.name}}</option>
                    </select>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.vehicle_type">
                      <p>{{this.$store.state.errorStore.all_errors.vehicle_type[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label >Vehicle Owner</label>
                    <select v-model="vehicle_edit.vehicle_owner" class="form-control">
                      <option value="" selected disabled>Select Owner</option>
                      <option :value="owner.public_id" v-for="owner in this.$store.state.ownerStore.vehicle_owners">{{owner.first_name}} {{owner.last_name}}</option>
                    </select>
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.vehicle_owner">
                      <p>{{this.$store.state.errorStore.all_errors.vehicle_owner[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label >Vehicle Number Plate</label>
                    <input type="text" class="form-control"  v-model="vehicle_edit.vehicle_plate"  placeholder="e.g. KBC 123D">
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.vehicle_plate">
                      <p>{{this.$store.state.errorStore.all_errors.vehicle_plate[0]}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label >Vehicle Phone number</label>
                    <input type="text" class="form-control"  v-model="vehicle_edit.phone_number"  placeholder="2547...">
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.phone_number">
                      <p>{{this.$store.state.errorStore.all_errors.phone_number[0]}}</p>
                    </div>
                  </div>
                  <div class="col-sm-3 col-sm-offset-9">
                    <button type="submit"  class="btn btn-warning btn-block">Update</button> <v-loading></v-loading>
                  </div>
                  <br>
                  <br>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        vehicle_edit: {
          vehicle_type: '',
          vehicle_owner: '',
          vehicle_plate: '',
          phone_number: '',
          redirect_url: 'Admin.Vehicles',
          public_id: this.$route.params.vehicle_id
        }
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_vehicle', this.$route.params.vehicle_id)
      this.$store.dispatch('get_vehicle_assignments', this.$route.params.vehicle_id)
      this.$store.dispatch('get_vehicle_position', this.$route.params.vehicle_id)
      this.$store.dispatch('get_vehicle_types')
      this.$store.dispatch('get_vehicle_owners')
      this.$store.dispatch('clear_errors')
//      setTimeout(this.timer(), 2000)
    },
    computed: {
      car: function () {
        this.vehicle_edit.vehicle_plate = this.$store.state.vehicleStore.vehicle.number_plate
        this.vehicle_edit.phone_number = this.$store.state.vehicleStore.vehicle.phone_number
        return this.$store.state.vehicleStore.vehicle
      },
      assignments: function () {
        return this.$store.state.assignmentStore.assignments
      },
      latitude: function () {
        if (this.$store.state.positionStore.position !== null) {
          return Number(this.$store.state.positionStore.position.lat)
        }
      },
      longitude: function () {
        if (this.$store.state.positionStore.position !== null) {
          return Number(this.$store.state.positionStore.position.long)
        }
      }
    },
    methods: {
      timer: function () {
        console.log('gchvjhvhj')
//        setTimeout(this.timer(), 2000)
      },
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('update_vehicle', this.vehicle_edit)
      }
    }
  }
</script>

<style>

</style>
