<template>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Cars</h3> <v-loading></v-loading>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <vue-good-table
              :columns="columns"
              :rows="vehicles"
              :paginate="true"
              :globalSearch="true"
              :lineNumbers="true"
              styleClass="table table-bordered table-striped"
            >
              <template slot="table-row" scope="props">
                <td>{{props.row.vehicle_type.name}}</td>
                <td>{{props.row.number_plate}}</td>
                <td>{{props.row.owner.first_name}} {{props.row.owner.last_name}}</td>
                <td class="text-center">
                  <button v-on:click="view(props.row.public_id)" class="btn btn-warning">View</button>
                </td>
              </template>
            </vue-good-table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        columns: [
          {
            label: 'Name',
            field: 'first_name'
          },
          {
            label: 'Email',
            field: 'email'
          },
          {
            label: 'Phone Number',
            field: 'phone_number'
          },
          {
            label: 'Action'
          }
        ]
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_vehicles')
    },
    computed: {
      vehicles: function () {
        return this.$store.state.vehicleStore.vehicles
      }
    },
    methods: {
      view: function (publlicId) {
        this.$router.push({
          name: 'Admin.Vehicle',
          params: {
            vehicle_id: publlicId
          }
        })
      }
    }
  }
</script>

<style>

</style>
