<template>
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add Owner</h3>
          </div>
          <!-- /.box-header -->
          <form v-on:submit.prevent="post">
            <!-- form start -->
            <div class="box-body">
              <div class="form-group">
                <label >First Name</label>
                <input type="text" class="form-control"  v-model="owner.first_name"  placeholder="First Name">
                <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.first_name">
                  <p>{{this.$store.state.errorStore.all_errors.first_name[0]}}</p>
                </div>
              </div>
              <div class="form-group">
                <label >Last Name</label>
                <input type="text" class="form-control"  v-model="owner.last_name" placeholder="Last Name">
                <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.last_name">
                  <p>{{this.$store.state.errorStore.all_errors.last_name[0]}}</p>
                </div>
              </div>
              <div class="form-group">
                <label >Email</label>
                <input type="email" class="form-control"  v-model="owner.email"  placeholder="Email">
                <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.email">
                  <p>{{this.$store.state.errorStore.all_errors.email[0]}}</p>
                </div>
              </div>
              <div class="form-group">
                <label >Phone Number</label>
                <input type="tel" class="form-control"  v-model="owner.phone_number"  placeholder="2547...">
                <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.phone_number">
                  <p>{{this.$store.state.errorStore.all_errors.phone_number[0]}}</p>
                </div>
              </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Submit</button> <v-loading></v-loading>
            </div>
          </form>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        owner: {
          first_name: '',
          last_name: '',
          email: '',
          phone_number: '',
          redirect_url: 'Admin.Owners'
        }
      }
    },
    created () {
      this.$store.dispatch('clear_errors')
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_vehicle_owner', this.owner)
      }
    }
  }
</script>

<style>

</style>
