<template>
  <div class="">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{owner.first_name}}'s Profile <v-loading></v-loading>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">

              <h3 class="profile-username text-center">{{owner.first_name}} {{owner.last_name}}</h3>

              <!--<p class="text-muted text-center">{{owner.user_type.name}}</p>-->

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About {{owner.first_name}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-calendar margin-r-5"></i> Registration</strong>

              <p class="text-muted">
                {{owner.first_name}} was registered on {{owner.created_at}}.
              </p>

              <hr>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Vehicles</a></li>
              <li ><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!---->   <div class="row">
                <div class="col-md-12">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Registration</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="car, key in owner.cars">
                      <td>{{key + 1}}</td>
                      <td>{{car.number_plate}}</td>
                      <td>
                        <button v-on:click="view(car.public_id)" class="btn btn-primary">View</button>
                      </td>
                    </tr>
                    <!-- Modal -->
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Registration</th>
                      <th>Action</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              </div>
              <!-- /.tab-pane -->
              <div class="  tab-pane" id="timeline">
              </div>
              <!-- /.tab-pane -->
              <!---->
              <div class=" tab-pane" id="settings">
                <form class="form-horizontal" v-on:submit.prevent="post">
                  <div class="form-group ">
                    <label class="col-sm-2 control-label" >First Name</label>
                    <div class="col-sm-10">
                      <input type="text" :value="owner.first_name" v-model="owner_edit.first_name" class="form-control">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.first_name">
                        <p>{{this.$store.state.errorStore.all_errors.first_name[0]}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="col-sm-2 control-label" >Last Name</label>
                    <div class="col-sm-10">
                      <input type="text" :value="owner.last_name" v-model="owner_edit.last_name" class="form-control">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.last_name">
                        <p>{{this.$store.state.errorStore.all_errors.last_name[0]}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="col-sm-2 control-label" >Email</label>
                    <div class="col-sm-10">
                      <input type="text" :value="owner.email" v-model="owner_edit.email" class="form-control">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.email">
                        <p>{{this.$store.state.errorStore.all_errors.email[0]}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="col-sm-2 control-label" >Phone Number</label>
                    <div class="col-sm-10">
                      <input type="text" :value="owner.phone_number" v-model="owner_edit.phone_number" class="form-control">
                      <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.phone_number">
                        <p>{{this.$store.state.errorStore.all_errors.phone_number[0]}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit"  class="btn btn-danger">Submit</button>
                  </div>
                  <br>
                  <br>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        owner_edit: {
          first_name: '',
          last_name: '',
          email: '',
          phone_number: '',
          public_id: this.$route.params.owner_id,
          redirect_url: 'Admin.Owners'
        }
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_vehicle_owner', this.$route.params.owner_id)
      this.$store.dispatch('reset_errors')
    },
    computed: {
      owner: function () {
        this.owner_edit.first_name = this.$store.state.ownerStore.vehicle_owner.first_name
        this.owner_edit.last_name = this.$store.state.ownerStore.vehicle_owner.last_name
        this.owner_edit.email = this.$store.state.ownerStore.vehicle_owner.email
        this.owner_edit.phone_number = this.$store.state.ownerStore.vehicle_owner.phone_number
        return this.$store.state.ownerStore.vehicle_owner
      }
    },
    methods: {
      post: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('update_vehicle_owner', this.owner_edit)
      }
    }
  }
</script>

<style>

</style>
