<template>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">All Vehicle Owners</h3> <v-loading></v-loading>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <vue-good-table
              :columns="columns"
              :rows="owners"
              :paginate="true"
              :globalSearch="true"
              :lineNumbers="true"
              styleClass="table table-bordered table-striped"
            >
              <template slot="table-row" scope="props">
                <td>{{props.row.first_name}} {{props.row.last_name}}</td>
                <td>{{props.row.email}}</td>
                <td>{{props.row.phone_number}}</td>
                <td>
                  <button v-on:click="view(props.row.public_id)" class="btn btn-primary">View</button>
                </td>
              </template>
            </vue-good-table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import VLoading from '../Loading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        columns: [
          {
            label: 'Name',
            field: 'first_name'
          },
          {
            label: 'Email',
            field: 'email'
          },
          {
            label: 'Phone Number',
            field: 'phone_number'
          },
          {
            label: 'Action'
          }
        ]
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_vehicle_owners')
      this.$store.dispatch('reset_errors')
    },
    computed: {
      owners: function () {
        return this.$store.state.ownerStore.vehicle_owners
      }
    },
    methods: {
      view: function (publicId) {
        this.$router.push({
          name: 'Admin.Owner',
          params: {
            owner_id: publicId
          }
        })
      }
    }
  }
</script>

<style>

</style>
