<template>
    <div class="container" style="margin-top: 10%">
      <div class="row">
        <div style="width: 50%; margin-left: 45%">
          <img src="/static/absolute.png" width="60%" style="margin-left: 20%" alt="">
          <br>
          <br>
          <form v-on:submit.prevent="login" class="form-login">
            <h4>Web Platform Login.</h4>
            <input type="text" id="userName" v-model="auth.email" class="form-control input-sm chat-input" placeholder="email" />
            <br>
            <input type="password" id="userPassword" v-model="auth.password" class="form-control input-sm chat-input" placeholder="password" />
            <br>
            <div class="wrapper">
            <span class="group-btn">
                <button type="submit" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></button>
              <v-loading></v-loading>
            </span>
            </div>
            <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.message">
              <p>{{this.$store.state.errorStore.all_errors.message}}</p>
            </div>
          </form>

        </div>
      </div>
  </div>
</template>

<script>
import VLoading from './Loading.vue'

export default {
  components: {VLoading},
  name: 'hello',
  data () {
    return {
      auth: {
        email: '',
        password: ''
      }
    }
  },
  created () {
    this.$store.dispatch('reset_errors')
  },
  methods: {
    login: function () {
      this.$store.dispatch('loading_true')
      this.$Progress.start()
      this.$store.dispatch('do_login', this.auth).then((response) => {
        this.$Progress.finish()
      }, (response) => {
        this.$Progress.fail()
      })
    },
    start () {
      this.$Progress.start()
    },
    set (num) {
      this.$Progress.set(num)
    },
    increase (num) {
      this.$Progress.increase(num)
    },
    decrease (num) {
      this.$Progress.decrease(num)
    },
    finish () {
      this.$Progress.finish()
    },
    fail () {
      this.$Progress.fail()
    }
  }
}
</script>
<style scoped>
  body {
    background-color:#fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
  }

  .container {
    padding: 25px;
    position: fixed;
  }

  .form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
  }

  h4 {
    border:0 solid #fff;
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
  }

  .form-control {
    border-radius: 10px;
  }

  .wrapper {
    text-align: center;
  }


</style>
