<template>
  <div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>Count</h3>

              <p>Upcoming Trips</p>
            </div>
            <div class="icon">
              <i class="fa fa-car"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>count</h3>

              <p>Trips Today</p>
            </div>
            <div class="icon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>count</h3>

              <p>Users</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>count</h3>

              <p>Unassigned Trips</p>
            </div>
            <div class="icon">
              <i class="fa fa-bullhorn"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <gmap-map
        :center="center"
        :zoom="8"
        style="width: 100%; height: 700px"
      >
        <gmap-marker :key="index" v-for="(m, index) in positions" :position="{lat: Number(m.lat), lng: Number(m.long)}" :clickable="true" :draggable="false" @click="center={lat: Number(m.lat), lng: Number(m.long)}"></gmap-marker>
      </gmap-map>
    </section>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        center: {lat: -1.301024, lng: 36.822668}
      }
    },
    created () {
      this.$store.dispatch('get_positions')
    },
    computed: {
      positions: function () {
        return this.$store.state.positionStore.positions
      }
    }
  }
</script>

<style>

</style>
