<template>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b> Designed and made by </b> <a href="http://almsaeedstudio.com">Tymiza Technologies</a>
    </div>
    <strong>Absolute Safaris Copyright &copy; </strong> All rights
    reserved.
  </footer>
</template>

<script>
  export default {
    data () {
      return {}
    }
  }
</script>

<style>

</style>
