<template>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <!--<img src="/static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
        </div>
        <div class="pull-left info">
          <p>{{user_name}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <router-link :to="{name: 'Company.Dashboard'}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </router-link>
        </li>
        <!--<li class=" treeview">-->
          <!--<router-link :to="{name: 'Company.'}">-->
            <!--<i class="fa fa-dashboard"></i> <span>Vehicle Positions</span>-->
          <!--</router-link>-->
        <!--</li>-->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-map"></i>
            <span>Rides</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">count</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{name: 'Company.CreateTrip'}">
                <i class="fa fa-circle-o"></i> <span>Create Trip</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Company.UnAssignedTrips'}">
                <i class="fa fa-circle-o"></i> <span>Un Assigned Trips</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Company.SessionTrips'}">
                <i class="fa fa-circle-o"></i> <span>Trips in session</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Company.CompletedTrips'}">
                <i class="fa fa-circle-o"></i> <span>Completed Trips</span>
              </router-link>
            </li>
            <!--<li>-->
              <!--<router-link :to="{name: 'Company.AllTrips'}">-->
                <!--<i class="fa fa-circle-o"></i> <span> All Trips</span>-->
              <!--</router-link>-->
            <!--</li>-->
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i>
            <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li v-if="user_type === '3'">
              <router-link :to="{name: 'Company.AddUser'}">
                <i class="fa fa-circle-o"></i> <span> Add</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Company.Users'}">
                <i class="fa fa-circle-o"></i> <span> Users</span>
              </router-link>
            </li>
            <li v-if="user_type === '3'">
              <router-link :to="{name: 'Company.DeletedUsers'}">
                <i class="fa fa-circle-o"></i> <span> Deleted Users</span>
              </router-link>
            </li>
            <!--<li>-->
              <!--<router-link :to="{name: 'Company.Roles'}">-->
                <!--<i class="fa fa-circle-o"></i> <span> Role Assignment</span>-->
              <!--</router-link>-->
            <!--</li>-->
          </ul>
        </li>
        <li class="treeview" v-if="user_type === '3'">
          <a href="#">
            <i class="fa fa-list-alt"></i>
            <span>Account Lines</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{name: 'Company.AddAccountLine'}">
                <i class="fa fa-circle-o"></i> <span> Add Account Line</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Company.AccountLines'}">
                <i class="fa fa-circle-o"></i> <span> Account Lines</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Company.DeletedAccountLines'}">
                <i class="fa fa-circle-o"></i> <span> Deleted</span>
              </router-link>
            </li>
          </ul>
        </li>

        <li class="treeview" v-if="user_type === '3'">
          <a href="#">
            <i class="fa fa-map"></i>
            <span>No go Zones</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{name: 'Company.AddZone'}">
                <i class="fa fa-circle-o"></i> <span> Add Zone</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'Company.DeletedZone'}">
                <i class="fa fa-circle-o"></i> <span> Deleted</span>
              </router-link>
            </li>
          </ul>
        </li>

        <li class="treeview" v-if="user_type === '3'">
            <router-link :to="{name: 'Company.Reports'}">
              <i class="fa fa-bar-chart-o"></i> <span>Reports</span>
            </router-link>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
  export default {
    data () {
      return {
        user_name: localStorage.getItem('user_name'),
        user_type: localStorage.getItem('mnbvcxz')
      }
    },
    created () {

    }
  }
</script>

<style>

</style>
