<template>
  <div id="app">
    <vue-progress-bar></vue-progress-bar>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  mounted () {
    //  [App.vue specific] When App.vue is finish loading finish the progress bar
    this.$Progress.finish()
  },
  created () {
    //  [App.vue specific] When App.vue is first loaded start the progress bar
    this.$Progress.start()
    //  hook the progress bar to start before we move router-view
    this.$router.beforeEach((to, from, next) => {
      //  does the page we want to go to have a meta.progress object
      if (to.meta.progress !== undefined) {
        let meta = to.meta.progress
        // parse meta tags
        this.$Progress.parseMeta(meta)
      }
      //  start the progress bar
      this.$Progress.start()
      //  continue to next page
      next()
    })
    //  hook the progress bar to finish after we've finished moving router-view
    this.$router.afterEach((to, from) => {
      //  finish the progress bar
      this.$Progress.finish()
    })
  }
}
</script>

<style>
  @import "/static/bootstrap/css/bootstrap.min.css";
  @import "/static/bootstrap/css/bootstrap.min.css";
  @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css";
  @import "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css";
  @import "/static/dist/css/AdminLTE.min.css";
  @import "/static/dist/css/skins/_all-skins.min.css";
  @import "/static/plugins/iCheck/flat/blue.css";
  @import "/static/plugins/morris/morris.css";
  @import "/static/plugins/jvectormap/jquery-jvectormap-1.2.2.css";
  @import "/static/plugins/datepicker/datepicker3.css";
  @import "/static/plugins/daterangepicker/daterangepicker.css";
  @import "/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css";
</style>
