<template>
  <div class="">
    <section class="content-header">
      <h1>
        Calendar
        <small>Control panel</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="box box-warning">
            <br>
            <div class="row">
              <div class="col-md-2">
                <ol>
                  <li  v-for="driver, key in drivers">
                    <button class="btn btn-info btn-sm" v-on:click="selectDriver(driver.public_id), details(key)">{{driver.user_detail.first_name}} {{driver.user_detail.last_name}}</button>
                    <br>
                    <br>
                  </li>
                </ol>
              </div>
            </div>
            <br>
          </div>
        </div>
        <div class="col-md-9">
          <div class="box box-primary">
            <h3 class="text-center">{{driver_name}} <button class="btn btn-success btn-sm" v-on:click="doAssignment()" v-if="selected === true">Assign</button> </h3>

            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Date Time</th>
                  <th>From</th>
                  <th>Destination</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="ride in driver_rides">
                  <td>{{ride.date_time}}</td>
                  <td>{{ride.departure_name}}</td>
                  <td>{{ride.destination_name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
</template>

<script>
  export default {
    data () {
      return {
        driver_name: '',
        selected: false,
        assignment: {
          driver_id: '',
          ride_id: '',
          redirect_url: 'Admin.UnAssignedTrips'
        }
      }
    },
    created () {
      this.$store.dispatch('get_drivers')
    },
    computed: {
      drivers: function () {
        return this.$store.state.driverStore.drivers
      },
      driver_rides: function () {
        return this.$store.state.rideStore.rides
      }
    },
    methods: {
      selectDriver: function (publicId) {
        var data = {
          public_id: publicId,
          ride_id: this.$route.params.ride_id
        }
        this.assignment.driver_id = publicId
        this.assignment.ride_id = this.$route.params.ride_id
        this.$store.dispatch('get_driver_rides', data)
        this.selected = true
      },
      details: function (key) {
        this.driver_name = this.drivers[key].user_detail.first_name + ' ' + this.drivers[key].user_detail.last_name + '\'s Schedule'
      },
      doAssignment: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('do_ride_assignment', this.assignment)
      }
    }
  }
</script>

<style>
  li {
    list-style-type: none;
  }
</style>
