<template>
 <div class="">
   <section class="content-header">
     <h1>
       Calendar
       <small>Control panel</small>
     </h1>
   </section>

   <!-- Main content -->
   <section class="content">
     <div class="row">
       <div class="col-md-3">
         <div class="box box-warning">
           <br>
           <div class="row">
             <div class="col-md-2 col-md-offset-4">
               <button class="btn btn-info">Driver</button>
             </div>
           </div>
           <br>
         </div>
       </div>
       <div class="col-md-9">
         <div class="box box-primary">
           <full-calendar :events="fcEvents" locale="en"></full-calendar>
         </div>
       </div>
     </div>
     <!-- /.row -->
   </section>
   <!-- /.content -->
 </div>
</template>

<script>
  var demoEvents = [
    {
      title: 'Sunny Out of Office',
      start: '2017-09-25'
    }
  ]
  export default {
    data () {
      return {
        fcEvents: demoEvents
      }
    }
  }
</script>

<style>

</style>
